@media(min-width: 1200px) and (max-width: 1600px) {}

@media(min-width: 1200px) and (max-width: 1400px) {
    .bg-banner-principal {
        height: 625px;
        padding-top: 100px;
    }
    .banner-principal-texto-left {
        margin-top: 169px;
    }
    .banner-principal-texto-left h3 {
        font-size: 40px;
    }
    .banner-principal-texto-left p {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 135px;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .navbar-default {
        padding: 12px 0 0 0;
        height: 80px;
    }
    .navbar-brand>img {
        width: 149px;
    }
    .navbar-default .navbar-nav>li>a {
        margin: 16px 30px;
        font-size: 14px;
    }
    .navbar-nav {
        padding: 0;
        height: 68px;
    }
    .navbar-default .navbar-nav>li>a span {
        margin-top: 23px;
    }
    nav.navbar.navbar-default.small .navbar-nav {
        padding: 0 0 0 0;
        float: right;
        height: 60px;
    }
    nav.navbar.navbar-default.small .navbar-nav>li>a span {
        margin-top: 15px;
    }
    /* ----'' */
    .bg-banner-principal {
        height: 625px;
        padding-top: 100px;
    }
    .banner-principal-texto-left {
        margin-top: 169px;
    }
    .banner-principal-texto-left h3 {
        font-size: 40px;
    }
    .banner-principal-texto-left p {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 135px;
    }
    /* ------- */
    .box-dicas-info h4 {
        font-size: 16px;
    }
    .bg-sobre img {
        margin-top: 70px;
    }
    /* ----- */
    .bg-banner-interna h3 {
        font-size: 23px;
        padding: 20px;
    }
    .bg-banner-interna {
        height: 320px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .navbar-default {
        padding: 11px 0 0 0;
        height: 75px;
    }
    .navbar-brand>img {
        width: 144px;
    }
    .navbar-default .navbar-nav>li>a {
        margin: 15px;
        font-size: 14px;
    }
    .navbar-default .navbar-nav>li>a span {
        margin-top: 20px;
    }
    /* -------- */
    /* -------- */
    .navbar-nav {
        padding: 0 0 0 0;
        height: 60px;
    }
    nav.navbar.navbar-default.small .navbar-nav {
        padding: 0;
    }
    nav.navbar.navbar-default.small .navbar-nav>li>a span {
        margin-top: 16px;
    }
    /* ----'' */
    .bg-banner-principal {
        height: 625px;
        padding-top: 100px;
    }
    .banner-principal-texto-left {
        margin-top: 169px;
    }
    .banner-principal-texto-left h3 {
        font-size: 40px;
    }
    .banner-principal-texto-left p {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 135px;
    }
    /* ---- */
    .bg-sobre h1 {
        font-size: 30px;
    }
    .bg-sobre p {
        font-size: 18px;
        line-height: 22px;
    }
    .bg-sobre img {
        width: 90%;
        margin-top: 84px;
    }
    .bg-sobre {
        padding: 70px 0;
    }
    .banner-principal-texto-right h2 {
        font-size: 28px;
    }
    .fale-conosco-texto h2 {
        font-size: 24px;
    }
    .fale-conosco-texto p a {
        font-size: 18px;
    }
    .banner-principal-texto-right {
        padding: 20px 45px
    }
    .info-rodape li {
        font-size: 15px;
    }
    .info-rodape li i {
        margin-right: 4px;
    }
    /* ----- */
    .bg-banner-interna h3 {
        font-size: 23px;
        padding: 20px;
    }
    .bg-banner-interna {
        height: 320px;
    }
    /* ----- */
    .texto-conteudo-interna p {
        font-size: 17px;
    }
}

@media(min-width: 0px) and (max-width: 767px) {
    .navbar-default {
        padding: 13px 0 0 0;
        height: 77px;
    }
    .navbar-header {
        float: right;
    }
    .navbar-toggle {
        z-index: 3;
        margin-right: 25px;
    }
    .navbar-brand>img {
        width: 151px;
    }
    .navbar-header {
        float: right;
    }
    .navbar-nav {
        float: left;
        margin: 0;
        width: 100%;
        margin-top: 25px;
    }
    .navbar-collapse {
        padding: 0;
        float: initial;
        position: fixed;
        left: 0;
        width: 100%;
        right: 0;
        margin: 0;
        height: calc(100vh - 75px);
        top: 75px;
    }
    .container>.navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
        background: white;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 11px 5px;
        margin: 0;
        text-align: center;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-default .navbar-toggle {
        border: 2px solid white;
        border-radius: 100px;
        height: 46px;
        width: 46px;
        background: #e01f23;
        margin-top: 0;
    }
    .navbar-default .navbar-nav>li>a {
        color: #7c7c7c;
    }
    .banner-principal-texto-right h2 {
        font-size: 23px;
        margin-bottom: 0;
        text-align: center;
    }
    /* ----'' */
    .bg-banner-principal {
        height: 465px;
        padding-top: 100px;
    }
    .banner-principal-texto-left {
        margin-top: 49px;
    }
    .banner-principal-texto-left h3 {
        font-size: 25px;
        text-align: center;
    }
    .banner-principal-texto-left p {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 75px;
        text-align: center;
    }
    .rede-social {
        left: 0;
        margin: 0 auto;
    }
    .bg-dicas h2 {
        margin-bottom: 17px;
        text-align: center;
        font-size: 28px;
    }
    .box-dicas-info h3 {
        margin: 0 auto;
    }
    .box-dicas-info h4,
    .box-dicas-info span,
    .bg-sobre h1,
    .bg-sobre p {
        text-align: center;
    }
    .bg-dicas button {
        width: 210px;
        height: 50px;
        font-size: 15px;
    }
    .bg-sobre a {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .bg-sobre img {
        width: 300px;
        float: initial;
        margin: 0 auto;
        display: block;
    }
    /* ---- */
    .fale-conosco-texto h2 {
        text-align: center;
        display: block;
        font-size: 24px;
    }
    .fale-conosco-texto p a {
        text-align: center;
        display: block;
        font-size: 17px;
    }
    .fale-conosco-texto p {
        font-size: 17px;
        text-align: center;
        display: block;
    }
    .fale-conosco-texto {
        margin-top: 0;
    }
    .fale-conosco-texto ul {
        margin: 0 auto;
        display: block;
    }
    .banner-principal-texto-right {
        margin-top: 63px;
        padding: 10px 22px;
    }
    .logo-rodape img {
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
    }
    .menu-rodape ul li,
    .info-rodape li a,
    .info-rodape li {
        text-align: center;
    }
    .info-rodape li i {
        width: 100%;
    }
    .info-rodape li {
        display: block;
    }
    footer .rede-social {
        float: initial;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    /* ----- */
    .bg-banner-interna h3 {
        font-size: 18px;
        padding: 0px;
    }
    .bg-banner-interna {
        height: 260px;
    }
    /* ----- */
    .texto-conteudo-interna p {
        font-size: 15px;
        text-align: justify;
    }
    .bg-conteudo-interna {
        padding: 0 20px;
    }
    .texto-conteudo-interna img {
        width: 200px;
    }
    /* --- */
    .resultado-comentarios img {
        float: initial;
        margin: 0 auto;
        display: block;
    }
    .resultado-comentarios h3 {
        font-size: 16px;
        padding-left: 0;
        text-align: center;
    }
    .resultado-comentarios h4,
    .resultado-comentarios p {
        padding-left: 0;
        text-align: center;
    }
    .resultado-comentarios {
        padding: 30px 15px;
    }
    .resultado-comentarios button {
        font-size: 14px;
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
        display: block;
        float: initial;
    }
    .bg-comentario h2 {
        font-size: 20px;
        text-align: center;
    }
    .bg-comentario p {
        font-size: 17px;
        text-align: center;
    }
    .bg-comentario form button {
        font-size: 17px;
        width: 190px;
        height: 48px;
        border: none;
        float: initial;
        margin: 0 auto;
        display: block;
        font-size: 16px;
    }
}

@media(min-width: 0px) and (max-width: 991px) {}

@media(min-width: 541px) and (max-width: 767px) {}

@media(min-width: 0px) and (max-width: 540px) {}